$border: #999;

$bg: #f5f5fd;
$text: #555;
$heading: #222;
$sentMsgBg: #b7f6e6;
$recMsgBg: #96e6ff;
$highlight: #ddd;
$hover: #eee;

$bgDark: #32302f;
$textDark : #fbf5f3;
$headingDark: #eee;
$sentMsgBgDark: #5b7b73;
$recMsgBgDark: #4b737f;
$highlightDark: #111;
$hoverDark: #222;